/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#include <dt-bindings/zmk/pointing.h>

#define BASE   0
#define SYM    1
#define NUMAV  2
#define SYS    3

/ {

    macros {
        inv_qmark: inv_qmark {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp LSHFT>
                , <&macro_tap &kp FSLH>
                , <&macro_release &kp LSHFT &kp LALT>
                ;
        };
        inv_excl: inv_excl {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp N1>
                , <&macro_release &kp LALT>
                ;
        };
        euro: euro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp LSHFT>
                , <&macro_tap &kp N2>
                , <&macro_release &kp LSHFT &kp LALT>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
// ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp ESC     &kp Q       &kp W       &kp E       &kp R       &kp T          &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC
    &kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G          &kp H       &kp J       &kp K       &kp L       &kp TILDE   &kp APOSTROPHE
    &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B          &kp N       &kp M       &ht SEMI COMMA &ht COLON DOT &kp LALT &kp ENTER
// ╰───────────┴───────────┴───────────┤                                                                           ├───────────┴───────────┴───────────╯
                                         &mkp LCTRL &kp LGUI    &mo NUMAV       &mo SYM     &kp SPACE   &kp RCTRL
//                                      ╰───────────┴───────────┴───────────╯   ╰───────────┴───────────┴───────────╯
            >;
        };

        sym_layer {
            bindings = <
// ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp ESC    &ht PIPE EXCL &kp AT    &kp HASH    &kp DLLR    &kp PRCNT      &kp CARET   &kp AMPS    &kp STAR    &inv_qmark  &kp QMARK    &kp DEL
    &trans     &kp LPAR    &kp RPAR    &kp LBRC    &kp RBRC    &kp EQUAL      &kp PLUS    &kp LBKT    &kp RBKT    &kp BSLH    &kp FSLH     &none
    &trans     &kp LT      &kp GT      &inv_excl   &euro       &none          &kp SQT     &kp DQT     &kp MINUS   &kp UNDER   &trans       &trans
// ╰───────────┴───────────┴───────────┤                                                                           ├───────────┴───────────┴───────────╯
                                         &trans     &trans      &mo SYS         &trans      &trans      &trans
//                                      ╰───────────┴───────────┴───────────╯   ╰───────────┴───────────┴───────────╯
            >;
        };

        numav_layer {
            bindings = <
// ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
    &kp ESC     &kp N7      &kp N8      &kp N9      &kp HOME    &kp END        &none       &none       &kp UP      &none       &none       &kp DEL
    &trans      &kp N4      &kp N5      &kp N6      &kp PG_UP   &kp PG_DN      &none       &kp LEFT    &kp DOWN    &kp RIGHT   &none       &none
    &trans      &kp N1      &kp N2      &kp N3      &kp N0      &none          &none       &none       &none       &none       &trans      &trans
// ╰───────────┴───────────┴───────────┤                                                                           ├───────────┴───────────┴───────────╯
                                         &trans     &trans     &trans           &mo SYS     &trans      &trans
//                                      ╰───────────┴───────────┴───────────╯   ╰───────────┴───────────┴───────────╯
            >;
        };

        sys_layer {
            bindings = <
// ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮   ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
    &out OUT_TOG &bt BT_CLR_ALL &none  &none       &none       &bt BT_CLR      &kp C_VOL_UP &kp C_BRI_UP &none      &none      &none       &soft_off
    &none       &none       &none      &none       &none       &bt BT_NXT      &kp C_MUTE  &kp C_VOL_DN &kp C_BRI_DN &none     &none        &none
    &none        &none      &none      &none       &none       &bt BT_PRV      &kp C_PP    &kp C_PREV   &kp C_NEXT  &none      &none        &none
// ╰───────────┴───────────┴───────────┤                                                                           ├───────────┴───────────┴───────────╯
                                         &none      &none       &none           &none      &none      &none
//                                      ╰───────────┴───────────┴───────────╯   ╰───────────┴───────────┴───────────╯
            >;
        };

    };

};
